.trades {
    display: flex;
    flex-wrap: wrap;
}

.trade {
    flex-basis: 80%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod; 
    flex-wrap: flex;
}

.trade__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trade_photo {
    flex-basis: 40%;
    margin: 1em;
    padding: 1em;
    max-width: 20em;
    max-height: 20em;
}

.btn {
    margin: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

.buttons {
    display: flex;
}
 

.trades-proposed {
    margin-bottom: 4em;
    margin-top: 3em;
}

.open-offers-sent {
    margin-bottom: 4em;
    margin-top: 3em;
}


/* I cannot figure out how to get these buttons to line up.  */

.trade__accept__btn {
    margin: 2em;
}

.trade__delete__btn {
    margin: 2em;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}