.shirts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.shirt {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
  }

  .shirt__title {
      color: red;
  }

  .shirt__button {
    margin: 2em;
    padding: 2em;
  }

  .shirt__image__img{
    max-width: 25em;
    max-height: 25em;
  }

  .save-shirt {
    margin: 1em;
    padding: 1em;
  }

  .create-shirt-btn {
    margin-right: 2em;
  }

  .side {
    /*height: 80%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: goldenrod; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }