.shirts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.shirt {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
  }

  .shirt__title {
      color: red;
  }

  .shirt__button {
    margin: 2em;
    padding: 2em;
  }

  .shirt__image__img{
    max-width: 25em;
    max-height: 25em;
  }

  .save-shirt {
    margin: 1em;
    padding: 1em;
  }

  .create-shirt-btn {
    margin-right: 2em;
  }